.message_card {
  padding: 10px;
  margin: 15px;
  width: fit-content;
}

.message_user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message_userCard {
  background-color: rgb(77, 127, 233) !important;
  color: white !important;
}

.message_guestCard {
  background-color: rgb(209, 211, 214) !important;
}
